/*默认样式设置*/
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, textarea, form, input, select{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
body{
    color: white;
    background: #d7fdff;
    font: 15px "Microsoft YaHei", Arial, Helvetica, sans-serif;
}
a{
    color: black;
    text-decoration: none;
}


/*header*/
.header{
    width: 100%;
    height: 60px;
    background: black;
}
.header-box{
    width: 1200px;
    height: 60px;
    margin: auto;
}
.header-box .logo{
    line-height: 60px;
    font-size: 25px;
    font-family: "Adobe Arabic";
    margin-right: 100px;
    float: left;
}
.header-box .list{
    line-height: 60px;
    font-size: 16px;
    font-family: "Adobe 宋体 Std L";
    float: left;
}
.header-box .list li{
    margin-right: 25px;
    color: white;
    float: left;
}
.header-box .list a{
    color: white;
}
.header-box .list a:hover{
    color: #4a9eff;
}
.header-box img{
    width: 30px;
    height: 30px;
    float: right;
    margin-top: 15px;
}

/*content*/
.content{
    width: 1160px;
    height: 110px;
    background: white;
    border-radius: 5px;
    padding: 20px;
    margin: 20px auto;
}
.content .title:hover::before{
    width: 100px;
    transition:all .5s;
}
.content .title{
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: black;
    border-bottom: 1px solid #eeeeee;
    margin: 0 auto;
    position: relative;
    font-size: 18px;
}
.content .title::before{
    display: block;
    content: '';
    width: 80px;
    height: 2px;
    background: #1C2327;
    position: absolute;
    left: 0;
    bottom: -1px;
    transition: all .5s linear;
}
.content .title p{
    float: right;
    font-size: 16px;
}
.content a{
    display: block;
    width: 200px;
    height: 20px;
    background: white;
    border: 1px solid #3c343b;
    margin-top: 30px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
}

/*footer*/
.footer{
    width: 100%;
    height: 190px;
    border-top: 10px solid #5db2ff;
    background: #1C2327;
}
.footer .text{
    width: 100%;
    height: 120px;
    margin: 30px auto;
}
.footer .text .wx-img{
    width: 250px;
    height: 120px;
    margin: 0 100px;
    float: left;
}
.footer .text .wx-img li{
    float: left;
    margin-right: 20px;
}
.footer .text .wx-img img{
    width: 100px;
    height: 100px;
}
.footer .text .wx-img span{
    display: block;
    margin-left: 10px;
}
.footer .text p:nth-child(2){
    display: block;
    width: 1300px;
    height: 25px;
    color: #7f91ff;
    margin-top: 10px;
    text-align: left;
}
.footer .text p:nth-child(3){
    display: block;
    width: 1300px;
    height: 25px;
    color: white;
    margin-top: 5px;
}
.footer .text p:nth-child(4){
    display: block;
    width: 1300px;
    height: 25px;
    color: white;
    margin-top: 5px;
}